
.popup {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 199;
  border-radius: 15px;
  background-color: rgb(92, 187, 255);
  border: 1px solid black;
  width: 500px;
  height: 400px;
}

.popup h2 {
  width: 300px;
  margin: auto;
}

.popup span {
  display: block;
  width: 390px;
  margin: auto;
}


.closePopup {
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}

.closePopup:hover {
  color: white;
}

a {
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}